body{
    padding: 0;
    margin: 0;
}
.Menu{
    left: 0;
    position: absolute;
    width: 300px;
    height: 100vh;
    background-color: #1E90FF;
    -webkit-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.62);
    -moz-box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.62);
    box-shadow: 0px 0px 6px 2px rgba(0,0,0,0.62);
    z-index: 500;
}
.Center{
    margin: 0 auto;
}

.TextCenter{
    text-align: center;
}

.Conteinerlogo{
    text-align: center;
    font-size: 60px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    margin-top: 30px;
}

.OpcoesMenu > ul{
    padding: 0;
}

.OpcoesMenu > ul > li{
    list-style: none;
    padding: 5px 0 5px 10px;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: bold;
    color: white;
    cursor: pointer;
}

.OpcoesMenu > ul > li:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.Conteint{
    margin-left: 300px;
}

.tituloTela{
    background-color: #1E90FF;
    height: 100px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.body{
    position: relative;
}

.tituloTela > div{
    font-size: 40px;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    padding: 50px 22px 0 0px;
    float: right;
}

.bodyShow{
    animation-name: bodyShow;
    animation-duration: 1s;
}

.bodyHide{
    animation-name: bodyHide;
    animation-duration: 1s;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

.row {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

@keyframes bodyShow{
    0% {right: 1070px;}
    100% {right: 0;}
}

@keyframes bodyHide{
    0% {right: 0;}
    100% {right: 1070px;}
}